<!doctype html>
<head>
  <title>ParlAPI</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />

  <style type="text/css">
    table i {
      white-space: nowrap;
    }

    h5 {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <section class="container-fluid">
    <header class="col-md-12 page-header">
      <h1>
        <img src="{{ url_for('static', filename='parlapi.png') }}" class="pull-right" style="margin-right: 25px;">
        Bienvenue sur ParlAPI
      </h1>

      <article class="alert alert-info">
        <p><b>L'objectif de ParlAPI est de fournir une API réellement utilisable sur l'Open Data parlementaire.</b></p>
        <p>Les données proviennent des portails Open Data parlementaires :</p>
        <p>
          <ul>
            <li><a href="http://data.assemblee-nationale.fr/" target="_blank">data.assemblee-nationale.fr</a></li>
            <li><a href="http://data.senat.fr/" target="_blank">data.senat.fr</a></li>
          </ul>
        </p>

        <p>Ce service a été conçu de manière à respecter le plus fidèlement possible le schéma de données des sources parlementaires.  En particulier, aucune donnée calculée n'est ajoutée au modèle.</p>

        <p><a href="{{ url_for('static', filename='parlapi-er.svg') }}">Consulter le diagramme E-R du modèle de données</a></p>
      </article>
    </header>
    <div class="col-md-12">

      <article class="alert alert-danger"><b>Attention :</b> ces API sont encore incomplêtes et leur format n'est pas définitif.</article>
    </div>
    <div class="col-md-6">

      <section class="panel panel-default">
        <header class="panel-heading">
          <b>API REST</b>
        </header>
        <article class="panel-body">
          <p>L'API REST donne accès en lecture seule aux données au format JSON.</p>

          <p>Les points d'entrée vers les listes d'objets sont décrits ci-dessous.  Les objets JSON renvoyés par l'API comprennent des hyperliens vers d'autres sections de l'API (notamment, les items de liste comportent toujours un lien vers une version plus détaillée).</p>

          <h5>Recherche <i>full-text</i></h5>

          <p>Il est possible de filtrer les résultats par une recherche textuelle, par exemple <a href="{{ rest_prefix }}organes/?search=commission des lois"><code>{{ rest_prefix }}organes/?search=commission des lois</code></a>.  La recherche textuelle porte sur tous les champs textuels présents dans les entités.</p>

          <p>Par défaut les résultats incluent les éléments comportant tous les termes recherchés mais il est possible d'écrire les requêtes différemment :
          <ul>
            <li>
              <a href="{{ rest_prefix }}organes/?search=commission or lois"><code>commission or lois</code></a> recherche les éléments comportant soit <code>commission</code>, soit <code>lois</code>.
            </li>
            <li>
              <a href="{{ rest_prefix }}organes/?search=commission -lois"><code>commission -lois</code></a> recherche les éléments comportant <code>commission</code> mais pas <code>lois</code>.
            </li>
            <li>
              <a href="{{ rest_prefix }}organes/?search=(commission or lois) -énergie"><code>(commission or lois) -énergie</code></a> recherche les éléments comportant <code>commission</code> ou <code>lois</code> mais pas <code>énergie</code>.
            </li>
          </ul>
          </p>

          <h5>Pagination</h5>

          <p>Les listes d'objets sont paginées à raison de 10 objets par page, par défaut.  Chaque page indique le nombre total d'objets de la collection et des liens vers les pages précédentes et suivantes, le cas échéant.</p>

          <p>La taille des pages peut être modifiée (ex: <a href="{{ rest_prefix }}acteurs/?page_size=20"><code>{{ rest_prefix }}acteurs/?page_size=20</code></a>).</p>
        </article>
        <table class="table table-striped table-responsive">
          <tr>
            <th>Description</th>
            <th>Point d'entrée API</th>
          </tr>
          {% for table, description in rest_api.items() %}
            <tr>
              <td>{{ description }}</td>
              <td>
                <a href="{{ rest_prefix }}{{ table }}"><code>{{ rest_prefix }}{{ table }}</code></a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </section>

    </div>

    <div class="col-md-6">
      <section class="panel panel-default">
        <header class="panel-heading">
          <b>API GraphQL</b>
        </header>
        <article class="panel-body">
          <p>Cette API donne accès au schéma de données via des requêtes GraphQL.</p>

          <p>Lorsqu'il est utilisé depuis un navigateur web, le point d'entrée ci-dessous présente une interface de requétage avec auto-complétion et une documentation auto-générée du modèle.</p>

          <p><a href="{{ graphql_prefix }}{% raw %}?query={%0A  allActeurs(first%3A 10) {%0A    edges {%0A      node {%0A        civilite%0A        nom%0A        prenom%0A        mandats(first%3A 1) {%0A          edges {%0A            node {%0A              qualite%0A              organes {%0A                edges {%0A                  node {%0A                    libelle%0A                  }%0A                }%0A              }%0A            }%0A          }%0A        }%0A      }%0A    }%0A  }%0A}%0A{% endraw %}">Cliquez ici</a> pour ouvrir l'interface avec un exemple de requête permettant de lister les 10 premiers acteurs et leur 1er mandat, avec seulement certains champs renvoyés.</p>
        </article>
        <table class="table table-striped table-responsive">
          <tr>
            <th>Description</th>
            <th>Point d'entrée API</th>
          </tr>
          <tr>
            <td>Point d'entrée GraphQL</td>
            <td><a href="{{ graphql_prefix }}"><code>{{ graphql_prefix }}</code></a></td>
          </tr>
        </table>
      </section>

      <section class="panel panel-default">
        <header class="panel-heading">
          <b>Sources de données</b>
        </header>
        <article class="panel-body">
          <p>Le tableau ci-dessous montre les travaux d'import des données et le résultat de leur dernière exécution.</p>
        </article>
        <table class="table table-striped table-responsive">
          <tr>
            <th>Source</th>
            <th>Dernière exécution (durée)</th>
            <th>Objets</th>
            <th>État</th>
            <th>Fichier source</th>
          </tr>
          {% for job in jobs %}
            <tr>
              <td>{{ job.nom }}</td>
              <td>{{ job.date_exec | humanize_datetime }} <i>({{ job.temps_exec | humanize_seconds }})</i></td>
              <td>{{ job.nb_items }}</td>
              <td>
                {% if job.resultat == 'ok' %}
                  <span class="label label-success">OK</span>
                {% else %}
                  <span class="label label-danger">{{ job.resultat }}</span>
                {% endif %}
              </td>
              <td><a href="{{ job.url_fichier }}" target="_blank">{{ job.url_fichier | basename }}</a>
              <i>(modifié {{ job.date_fichier | humanize_datetime }})</i></td>
            </tr>
          {% else %}
            <tr>
              <td colspan="5"><i>Aucun import n'a encore été effectué.</i></td>
            </tr>
          {% endfor %}
        </table>
      </section>
    </div>

    <div class="col-md-12">
    </div>
  </section>

  <footer class="well text-center">
    <small>
      <p>
        ParlAPI est un <a href="https://github.com/regardscitoyens/parlapi" target="_blank">logiciel libre</a>,
        distribué sous <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">
          license <img src="https://www.gnu.org/graphics/agplv3-155x51.png" alt="AGPLv3" style="height: 1.5em;"></a>

        &mdash;

        Les données sont réutilisables sous license
        <a href="http://creativecommons.org/licenses/by-sa/2.0/fr/" target="_blank">
          <img src="https://i.creativecommons.org/l/by-sa/2.0/fr/80x15.png" alt="CC-BY-SA"></a>
        et <a href="http://opendatacommons.org/licenses/odbl/">ODbL</a>

        &mdash;

        <a href="https://www.regardscitoyens.org/" target="_blank">
          <img src="{{ url_for('static', filename='rc.png') }}" style="height: 1.5em; vertical-align: top;">
          Regards Citoyens</a>
      </p>

      <p>
        <i>Vous êtes libre de réutiliser, modifier et recouper les données dans la mesure où vous indiquez leur source et que vous republiez les données modifiées ayant servi lors d'une réutilisation publiée.</i>
      </p>
    </small>
  </footer>

  {% if piwik %}
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//{{ piwik.host }}/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', {{ piwik.id }}]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//{{ piwik.host }}/piwik.php?idsite={{ piwik.id }}" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  {% endif %}
</body>
